
.label {
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.tooltip-toggle {
  cursor: pointer;
  position: relative;
}
.tooltip-toggle svg {
  height: 14px;
  width: 14px;
}
.tooltip-toggle::before {
  position: absolute;
  top: -58px;
  left: -80px;
  background-color: #646464;
  border-radius: 5px;
  color: #fff;
  content: attr(aria-label);
  padding: 1rem;
  text-transform: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 530px;
   height: 45px; 
}
.tooltip-toggle::after {
  position: absolute;
  top: -12px;
  left: 9px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2B222A;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}
.tooltip-toggle::before, .tooltip-toggle::after {
  color: #efefef;
  /* font-family: monospace; */
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}
.tooltip-toggle:focus::before, .tooltip-toggle:focus::after, .tooltip-toggle:hover::before, .tooltip-toggle:hover::after {
  opacity: 01;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}



/*https://codepen.io/derekmorash/pen/XddZJY  */
.introduce {
    box-sizing: border-box;
    /* appearance: none; */
    background-color: transparent;
    border: 2px solid #e74c3c; 
    border-radius: 0.6em; 
    color: #e74c3c;  
    cursor: pointer;
    /* display: flex; */
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.introducebtn:hover, .introduce:focus {
    color: #fff;
    outline: 0;
} 

.sixth {
    border-radius: 3em;
    border-color: #ffe600;
    color: #ffe600;
    background-image: linear-gradient(to bottom, transparent 50%, #ffe600 50%);
    background-position: 0% 0%;
    background-size: 210%;
    transition: background 150ms ease-in-out, color 150ms ease-in-out;
}
.sixth:hover {
    color: black;
    background-position: 0 100%;
}

/*text area  */
.textfordictation {
  display: block;
  margin: auto;
  width: 80%;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
   line-height: 40px; 
  /* background-image: linear-gradient(#eee 1px,transparent 5px); */
  background-size: 100% 40px;
  border: 0;
  outline: 0;
  /* border-radius: 1%; */
}
  

/* dropdown  */
select::-ms-expand{
    display: none;
}
select{
    /* Chrome */
    -webkit-appearance: none;
    /* Firefox */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ' '; /* space */
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; 
   background-color: white;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* .blue    { background-color: #3b8ec2; } */



/* play botton in index */
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.stroke-dotted {
  opacity: 0;
  stroke-dasharray: 4,5;
  stroke-width: 1px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: spin 4s infinite linear;
          animation: spin 4s infinite linear;
  -webkit-transition: opacity 1s ease,  stroke-width 1s ease;
  transition: opacity 1s ease,  stroke-width 1s ease;
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  -webkit-transition: stroke-dashoffset 1s ease,  opacity 1s ease;
  transition: stroke-dashoffset 1s ease,  opacity 1s ease;
}

.icon {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

#play:hover .stroke-dotted {
  stroke-width: 4px;
  opacity: 1;
}
#play:hover .stroke-solid {
  opacity: 0;
  stroke-dashoffset: 300;
}
#play:hover .icon {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}



/*startBtn stopBtn  */
.controlBtn {
    background: transparent;
    color: blue;
    border: 3px #646464 solid;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer;
}
.controlBtn:hover {
    background: #646464;
    color:#ffe600;
    transition: all 0.5s ease-in-out;
}


menu.medium button {
  position: relative;
  display: inline-block;
  padding: .6em;
  border-radius: 10em;
  border: 0 solid #fefefe;
  width: 5em;
  height: 5em;
  margin-right: 20px;
  box-shadow: 0 0.3em 0.35em rgba(0, 0, 0, 0.4);
}
menu.medium button:hover {
  background: linear-gradient(#f5f5f5, #b9b9b9), #c9c5c9;
}
menu.medium button:before,
menu.medium button:after {
  position: absolute;
  content: " ";
}

menu.medium button:active {
  top: 0.25em;
  box-shadow: 0 0.1em 0.15em rgba(0, 0, 0, 0.4);
}
menu.medium .play:before {
  z-index: 2;
  top: 1.1em;
  left: 1.8em;
  width: 0;
  height: 0;
  border: 1.5em solid transparent;
  border-left-color: rgba(100, 100, 100, 0.8);
  border-left-width: 2.25em;
}
menu.medium .play:hover:before {
  /* border-left-color: rgba(36, 36, 36, 0.8); */
   border-left-color: #ffe600; 

}

#export{
  border: 2px solid #646464;
  /* border-radius: 0.6em;  */
  color: #646464;
  font-size: 16px;
  font-weight: bold;
}

#export:hover{
  color: #ffe600;
  border: 2px solid #ffe600;
  background: #808080;
}

#clean{
  border: 2px solid #646464;
  /* border-radius: 0.6em;  */
  color: #646464;
  font-size: 16px;
  font-weight: bold;
}

#clean:hover{
  color: #ffe600;
  border: 2px solid #ffe600;
  background: #808080;
}
