{% extends "layout.html" %}
{% load static %}

{% block content %}

<div class="container" style="background-color:white;">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6" style="padding: 0 0 0 0;">
            <div class="poems" style="text-align: center; padding-top: 20px">
                <h1>GET IN TOUCH</h1>
                <p>Hey there! <br>
                    So, here you can contact me <br>
                    for purchasing stuff you like, <br>
                    or just drop me a line, <br>
                    we surely can catch up <br>
                    for a cup of coffee <br>
                    and  discuss more <br>
                    about words and colours.<br>
                    Happy to hear from you!!!
                </p>
            </div>
        </div>
<!--        <div class="col-sm-6 col-md-6 col-lg-6" style="margin-top:20px;">
            <form method="post" action="mailto:hanh00hoang@gmail.com" enctype="text/plain">
                <div class="field half first">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" value="" />
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" value="" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="10"></textarea>
                </div>
                <div class="actions">
                    <input type="submit" class="button" name="submit" id="submit" value="Send Message" />
                </div>
            </form>
        </div>-->
        <!--contact form-->
        <div class="col-sm-6 col-md-6 col-lg-6" style="padding: 0 0 0 0;">
            <div class="poems" style="text-align: center">
                <h1></h1>
                <form role="form" action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-actions">
                    <button class="button" type="submit">SEND MESSAGE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}