{% extends "layout.html" %}
{% load static %}

{% block content %}

<div class="container" style="background-color: white;">
    <article>
        <div class="row">
            <!--Image-->
            <div class="col-sm-6 col-md-6 col-lg-6" style="padding: 0 0 0 0;">
                <img src="/static/images/index.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>

            <!--Text-->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="row" style="text-align: center; height:50%">
                    <h1>STORY</h1>
                    <p>Once upon a time, <br>
                        there was a girl <br>
                        who doesn't want to grow up. <br>
                        She just wants to immerse herself <br>
                        in the world of words and colours, <br>
                        of posie and photos and paintings.<br>
                        <br>
                        <br>
                        One day, she decided <br>
                        to let the reality embrace her fantasy.

                    </p>
                    <br>
                    <br>

                </div>

                <div class="row" style="text-align: center; height:25%">
                    <button class="button" id="" onclick="javascript:window.location.href='portfolio'">
                        EMBRACE
                    </button>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>

                <div class="row" style="text-align: center; height:25%">
                    <ul class="icons text-center">
                        <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="https://www.instagram.com/happyfrangipani/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </article>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}