{% extends "layout.html" %}
{% load static %}

{% block content %}

<div class="container" style="background-color: white;">
    <div class="row" style="text-align: center; padding-top: 20px; padding-bottom: 20px">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h1>CALENDARS</h1>
            <img class="" src="/static/images/calendar.jpg" style="width:100%" alt="calendar">

        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h1>BOOKMARKS</h1>
            <img class="" src="/static/images/calendar.jpg" style="width:100%" alt="calendar">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h1>CARDS</h1>
            <img class="" src="/static/images/calendar.jpg" style="width:100%" alt="calendar">
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}