{% extends "layout.html" %}
{% load static %}

{% block content %}

<div class="main container" style="background-color:white; ">
    <div class="row">
        <!--Image-->
        <div class="col-sm-6 col-md-6 col-lg-6" style="padding: 0 0 0 0; margin: 0 auto; position: relative">
            <div class="poems" style="text-align: center">
                <h1>THANKS</h1>
                <p>Thank you for sending message! <br>
                    I will be in touch soon.
                </p>
            </div>
        </div>
        <!--Thank you-->
        <div class="col-sm-6 col-md-6 col-lg-6" style="padding: 0 0 0 0; margin: 0 auto; position: relative">
            <img class="" src="/static/images/thanks.jpg" style="width:100%" alt="1">
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}