/****** RTF Baseline CSS **********/

html{
	font-family: "Montserrat", sans-serif;
	font-size: 100%;
	height:100%;
}

body{
	width:100%;
	height:100%;
	margin:0 auto;
	padding:0;
	background: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 1em 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

p{
    color: #555;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}

.book{
    margin-right: 100px;
    margin-left: 200px;
    border: 1px solid black;
    background-color: lightblue;
}

.getintouch{
    background-image: url("static/images/pic02.jpg");;
}

// Basic Button Style
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid;
  border: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px #cccccc;
  color: #555 !important;
  cursor: pointer;
  display: inline-block;
  align-self: center;
  font-size: 0.8em;
  font-weight: 500;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.5em;
  margin: 20px;
  padding: 0 2em;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
}

.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		letter-spacing: 5px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		color: #555;
		white-space: nowrap;
		font-size: 0.75rem;
		max-width: 20rem;
		height: 3.75em;
		line-height: 3.75em;
		border-radius: 3.75em;
		padding: 0 2.5em;
		text-overflow: ellipsis;
		overflow: hidden;
}

.button:hover{
    color: #1abc9c !important;
}

#container>img{
    width: 100%;
    height: 100%;
    position: absolute;
}
/* Sliding Buttons*/

.slideBtn{
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    top: -300px;
    background: #555;
    color: white;
    font-size: 20px;
}

#btn1{
    position: relative;
    float: left;
}

#btn2{
    position: relative;
    float: right;
}

/* Social media icons */
ul {
	list-style: disc;
	margin: 0 0 2rem 0;
	padding-left: 1rem;
}

ul li {
	padding-left: 0.5rem;
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 0.75rem 0 0;
}

ul.icons li:last-child {
	padding-right: 0;
}

/* Icon */
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
	text-align: center;
	color: #555;
}

a {
    color: #555;
}

    .icon:before {
		-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.style2:before {
			border-radius: 2.75em;
			display: inline-block;
			height: 2.75em;
			line-height: 2.75em;
			width: 2.75em;
		}

		.icon.major {
			display: block;
			margin: 0 0 1rem 0;
		}

			.icon.major:before {
				font-size: 1.25rem;
			}

	a.icon.style2:before {
		-moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	}

	.icon.style2:before {
		box-shadow: inset 0 0 0 1px #555;
	}

	a.icon.style2:hover:before {
		box-shadow: inset 0 0 0 1px #1abc9c;
		color: #1abc9c !important;
	}

	a.icon.style2:active:before {
		background-color: rgba(71, 211, 229, 0.1);
		box-shadow: inset 0 0 0 1px #1abc9c;
		color: #555 !important;
	}

/* Footer */
footer {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #333;
}

/* Navbar */

.navbar {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}


.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}
/* Links - change color on hover */
.navbar-nav li a:hover {
    color: #1abc9c !important;
}

/* Form */

	form {
		margin: 0 0 2rem 0;
	}

		form .field {
			margin: 0 0 1.5rem 0;
			clear: both;
		}

			form .field.half {
				clear: none;
				width: 50%;
				float: left;
				padding: 0 0 0 0.75rem;
			}

				form .field.half.first {
					padding: 0 0.75rem 0 0;
				}

			form .field.third {
				clear: none;
				width: 33.33333%;
				float: left;
				padding: 0 0 0 0.75rem;
			}

				form .field.third.first {
					padding: 0 0.75rem 0 0;
				}

		form > .actions {
			clear: both;
			margin: 1.875rem 0 0 0 !important;
		}

	label {
		display: block;
		font-size: 0.9rem;
		font-weight: 400;
		margin: 0 0 1rem 0;
	}

	input[type=text], input[type=email]{
	    border: solid 1px;
	    color: blue;
	}
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background-color: transparent;
		border-radius: 4px;
		border: none;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 0.825rem;
		text-decoration: none;
		width: 100%;
	}