/****** RTF Baseline CSS **********/
 * {

     font-family: 'Noto Sans', sans-serif;

} 

html{
	font-size: 100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
	margin:0 auto;
	padding:0;
	background: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

/* Social media icons */

ul {
    overflow: auto;
}

ul li {
    list-style-type: none;
    float: left;
}

ul li a i {
    background: #205D7A;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    margin-right: 10px;
    padding-top: 15%;
    transition: all 0.2s ease-in-out;
}

ul li a i:hover {
    opacity: .7;
}

// Basic Button Style
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $red;
  border-radius: 0.6em;
  color: $red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}


/* Explore Button  */
.exploreButton {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }
}

/*
a:link, a:hover, a:visited, a:active{
	color:#336699;
	text-decoration:none;
}

a:hover{
    text-decoration: underline;
}


button, a{
	border:none;
	outline: none;
}

*:focus,button:focus, *[role="button"]:focus,*[role="link"]:focus{
	 outline:thin dotted; 
}

a:not(.btn):hover, *[role="button"], *[role="link"] {
    text-decoration:underline; 
}


h1, h2{
	color: #000;
}

h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}

:not(pre) > span{
	display:inline-block;
}

ul{
  -webkit-padding-start: 0;
}

ul li{
  list-style: none;
  margin: 0;
  padding:0;
}
/*
 * Custom modifications to the EY online style guide
*/

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}